/* Author: Stefan Saam, github@saams.de */
/* License: GPLv3 https://www.gnu.org/licenses/gpl-3.0.txt */

@import url("classless-lbb.css");

@media (max-width: 768px) {
	.hidden-mobile {
		display: none;
	}
}

html, body {
    min-height: 100% !important;
    height: 200%;
	background-color: var(--cbg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

button.usb {
	color: var(--cusb);
	border-color: var(--cusb);
	width: 15em;
}

button.camera {
	color: var(--ccamera);
	border-color: var(--ccamera);
	width: 15em;
}

button.ios {
	color: var(--cios);
	border-color: var(--cios);
	width: 15em;
}

button.cloud {
	color: var(--ccloud);
	border-color: var(--ccloud);
	width: 15em;
}

button.danger {
	color: var(--cdanger);
	border-color: var(--cdanger);
	width: 15em;
}

.card {
	background-color: transparent;
}

div.backupsection {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

ul.danger {
	color: var(--cdanger);
	font-weight: bold;
}

.rating{
  display : flex;
}

.rating input{
  position : absolute;
  left     : -100vw;
}

.rating label{
  width      : 16px;
  height     : 16px;
  padding    : 16px 0 0;
  overflow   : hidden;
  background : url('stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
  background-position : -16px 0;
}

.rating:not(:hover) input:focus-visible + label{
  background-position : -32px 0;
}

img.rating1, video.rating1, audio.rating1 {
	border: 3px solid #F00;
}

img.rating2, video.rating2, audio.rating2 {
	border: 0px;
}

img.rating3, video.rating3, audio.rating3 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to right top, #FFDCA8, #A97142) border-box;
	border-radius: 5px;
	border: 3px solid transparent;
}

img.rating4, video.rating4, audio.rating4 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to right top, #F0F0F0, #C0C0C0) border-box;
	border-radius: 5px;
	border: 4px solid transparent;
}

img.rating5, video.rating5, audio.rating5 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to right top, #FAFAD2, #D4AF37) border-box;
	border-radius: 5px;
	border: 4px solid transparent;
}
