/* Author: Stefan Saam, github@saams.de */
/* License: GPLv3 https://www.gnu.org/licenses/gpl-3.0.txt */

@import url("classless-lbb.css");

@media (max-width: 768px) {
	.hidden-mobile {
		display: none;
	}
}

html, body {
	min-height: 100% !important;
	height: 200%;
	background-color: var(--cbg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-attachment: fixed;
	background-repeat: repeat-y;
}

button.usb {
	color: var(--cusb);
	border-color: var(--cusb);
	width: 80%;
}
select.usb {
	color: var(--cusb);
	border-color: var(--cusb);
	width: 50%;
	margin-top: 0rem;
	margin-bottom: 0.8rem;
}

button.camera {
	color: var(--ccamera);
	border-color: var(--ccamera);
	width: 80%;
}

button.cloud {
	color: var(--ccloud);
	border-color: var(--ccloud);
	width: 80%;
}

button.danger {
	color: var(--cdanger);
	border-color: var(--cdanger);
	width: 80%;
}

button:disabled, button[disabled]{
	color: var(--cdisabled);
	border-color: var(--cdisabled);
	width: 80%;
	cursor: auto;
}

.card {
	background-color: transparent;
}

div.backupsection {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

ul.danger {
	color: var(--cdanger);
	font-weight: bold;
}

.rating{
display : flex;
}

.rating input{
position : absolute;
left     : -100vw;
}

.rating label{
width      : 16px;
height     : 16px;
padding    : 16px 0 0;
overflow   : hidden;
background : url('stars.svg') no-repeat top left;
}

.rating:not(:hover) input:indeterminate + label,
.rating:not(:hover) input:checked ~ input + label,
.rating input:hover ~ input + label{
background-position : -16px 0;
}

.rating:not(:hover) input:focus-visible + label{
background-position : -32px 0;
}

img.rating1, video.rating1, audio.rating1 {
	border: 3px solid #F00;
}

img.rating2, video.rating2, audio.rating2 {
	border: 0px;
}

img.rating3, video.rating3, audio.rating3 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to left top, #A97142, #FFDCA8, #A97142) border-box;
	border-radius: 5px;
	border: 4px solid transparent;
}

img.rating4, video.rating4, audio.rating4 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to left top, #B0B0B0, #FFFFFF, #C0C0C0) border-box;
	border-radius: 5px;
	border: 4px solid transparent;
}

img.rating5, video.rating5, audio.rating5 {
	background: linear-gradient(white, white) padding-box, linear-gradient(to left top, #D4AF37, #FAFAD2, #D4AF37) border-box;
	border-radius: 5px;
	border: 4px solid transparent;
}

div.floating {
	display: inline-block;
	margin-bottom: 0.3em;
	*display: inline;
	*margin-right: 0.3em;
	*zoom: 1;
	vertical-align: top;
	padding: 0;
}

/* columns */
.column {
	float: left;
	width: 50%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}


/* radio toolbar */
/* USB */
.radio-usb {
	margin: 10px;
}

.radio-usb input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}

.radio-usb label {
	width: 80%;
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 0.1rem;
	color: var(--cusb);
	background-color: var(--clight);
	margin: .5rem;
	border: .1rem solid var(--cusb);
	display: inline-block;
	border-radius: .3rem;
}

.radio-usb label:hover {
background-color: var(--cmed);
}

.radio-usb input[type="radio"]:checked + label {
	background-color: var(--clight);
	border-color: var(--cdanger);
}

/* CAMERA */
.radio-camera {
margin: 10px;
}

.radio-camera input[type="radio"] {
opacity: 0;
position: fixed;
width: 0;
}

.radio-camera label {
	width: 80%;
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 0.1rem;
	color: var(--ccamera);
	background-color: var(--clight);
	margin: .5rem;
	border: .1rem solid var(--ccamera);
	display: inline-block;
	border-radius: .3rem;
}

.radio-camera label:hover {
background-color: var(--cmed);
}

.radio-camera input[type="radio"]:checked + label {
	background-color: var(--clight);
	border-color: var(--cdanger);
}

/* CLOUD */
.radio-cloud {
margin: 10px;
}

.radio-cloud input[type="radio"] {
opacity: 0;
position: fixed;
width: 0;
}

.radio-cloud label {
	width: 80%;
	padding: 0.5rem;
	cursor: pointer;
	font-weight: bold;
	letter-spacing: 0.1rem;
	color: var(--ccloud);
	background-color: var(--clight);
	margin: .5rem;
	border: .1rem solid var(--ccloud);
	display: inline-block;
	border-radius: .3rem;
}

.radio-cloud label:hover {
background-color: var(--cmed);
}

.radio-cloud input[type="radio"]:checked + label {
	background-color: var(--clight);
	border-color: var(--cdanger);
}

.backup-buttons {
	margin: 10px;
}
